#jq-spinner {
    position:absolute; z-index:1000;
    left:0;
    width:100%;
    font-family:helvetica, sans-serif;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1)));
    text-align:left;
}

#jq-spinner .header {
    position:relative;
    width:100%; height:43px;
    border-top:1px solid #000; border-bottom:1px solid #000;
    opacity: 0.9;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313));
}

#jq-spinner .cancel, #jq-spinner .done {
    position:absolute;
    
    height:20px; line-height:20px;
    top:5px;
     margin:0;
    border-width:5px;
    font-size:12px; font-weight:bold;
    text-shadow:rgba(0,0,0,0.8) 0 -1px 0;
    color:#fff;
    width:40px;
    border-radius:5px;
    padding:5px;
    text-align:center;
}

#jq-spinner .cancel {
    left:7px;
    float:left;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1)));
}

#jq-spinner .done {
    right:7px;
    float:right;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,182,219,1)), color-stop(100%,rgba(48,157,207,1)));
}


#jq-spinner #wheels {
    position:relative; z-index:999;
    display:block;
    height:215px;
    padding:0 11px;
    overflow:hidden;
     /*border-top:10px;
    border-top-color:rgba(76,76,76,1);    
    border-bottom:10px;
    border-bottom-color: rgba(76,76,76,1)
    */
    border-top:10px solid rgba(97,97,97,1);
    border-bottom:10px solid rgba(19,19,19,1);
}

#jq-spinner #slots {
    display:table;
    width:100%;
    background:#fcfcfc;
}

#jq-spinner #slots div {
    display:table-cell;
    height:100%;
    padding-top:75px;
    border-left:2px solid #0d0e0f;
    background-color:#fcfcfc;
    background-position: 0 0, 100% 0;
    background-repeat: repeat-y;
}

#jq-spinner #slots div:first-child { border:0; }

#jq-spinner #slots ul {
     margin:0;
    list-style:none;
    padding:0;
}

#jq-spinner #slots .right { text-align:right; }
#jq-spinner #slots .separator { display:none; }
#jq-spinner #slots .readonly { background:#ddd; }

#jq-spinner #slots li {
    padding:0 8px;
    height:44px;
    overflow:hidden;
    font:bold 24px/44px Helvetica,sans-serif;
}

#jq-spinner-frame {
    position:absolute; z-index:1000;
    left:11px; right:11px; bottom:110px;
    height:36px;    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1)));
    opacity:.5;

}

@media screen and (min-width: 600px) {
    #jq-spinner {
        width:400px;
        left:50%;
        top:50%;
        margin-top: -200px;
        margin-left: -140px;
    }
}